@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Merriweather', serif;
  background: #000;
  color: #FFF;
}

.Rooms {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rooms__Link {
  color: #FFF;
  font-size: 20px;
}

.audio {
  position: fixed;
  opacity: 0;
  transition: opacity 0.2s ease
}
.audio:hover {
  opacity: 1;
  transition: opacity 0.2s ease
}